.magnetLines-container {
  place-items: center;
  overflow: hidden;
}

.magnetLines-container span {
  transform: rotate(var(--rotate));
  transform-origin: center;
  transition: transform 0.1s ease-out;
}
